{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "importOrder": [
    "use client",
    "use server",
    "server-only",
    "^react$",
    "next",
    "^next/(.*)$",
    "^@tabler/(.*)$",
    "^@prisma/(.*)$",
    "^@faker-js/(.*)$",
    "^@testing-library/(.*)$",
    "clsx",
    "currency.js",
    "dayjs",
    "vitest",
    "radix-ui",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/utils",
    "^@/hooks",
    "^@/constants",
    "^@data",
    "^[a-zA-Z0-9@](.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}